<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lauren.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
       <Lauren.Properties.Settings>
          <setting name="Sizes" serializeAs="String">
             <value>90x90;300x167;300x225;300x450;620x439;940x530</value>
          </setting>
          <setting name="DefaultCompression" serializeAs="String">
             <value>70</value>
          </setting>
          <setting name="Profile1Sizes" serializeAs="String">
             <value>90x90;300x167;300x225;300x450;620x439;940x530</value>
          </setting>
          <setting name="Profile2Sizes" serializeAs="String">
             <value>90x90;300x167;300x225;300x450;620x439;940x530</value>
          </setting>
          <setting name="Profile3Sizes" serializeAs="String">
             <value>90x90;300x167;300x225;300x450;620x439;940x530</value>
          </setting>
          <setting name="Profile4Sizes" serializeAs="String">
             <value>90x90;300x167;300x225;300x450;620x439;940x530</value>
          </setting>
          <setting name="Profile1Compression" serializeAs="String">
             <value>70</value>
          </setting>
          <setting name="Profile2Compression" serializeAs="String">
             <value>60</value>
          </setting>
          <setting name="Profile3Compression" serializeAs="String">
             <value>70</value>
          </setting>
          <setting name="Profile4Compression" serializeAs="String">
             <value>80</value>
          </setting>
          <setting name="Profile1Name" serializeAs="String">
             <value>Default</value>
          </setting>
          <setting name="Profile2Name" serializeAs="String">
             <value>CMS</value>
          </setting>
          <setting name="Profile3Name" serializeAs="String">
             <value>Feature</value>
          </setting>
          <setting name="Profile4Name" serializeAs="String">
             <value>Fashion</value>
          </setting>
          <setting name="Profile1MaxSize" serializeAs="String">
             <value>0</value>
          </setting>
          <setting name="Profile2MaxSize" serializeAs="String">
             <value>0</value>
          </setting>
          <setting name="Profile3MaxSize" serializeAs="String">
             <value>0</value>
          </setting>
          <setting name="Profile4MaxSize" serializeAs="String">
             <value>50</value>
          </setting>
       </Lauren.Properties.Settings>
    </userSettings>
</configuration>
